#box1
	float: left
	width: 100%
	#hai0
			width 100%
			height 40px
			line-height 40px
			#hai12
			
				width 90%
				height 1px 
				text-align center
				background #000
				margin-left 6%
			.hai71
				width: 50%
				height 100%
				line-height 40px
				margin-left: 6%
				float: left
			.hai73
				float: left
				margin-left: -220px
				color: black
				line-height 40px
				.mn57
					margin-top 16px
					margin-left: 40px
				.mn56
					margin-top 8px
				ul
					float: left
					list-style-type none
					margin-top: -8px
					li
						float: left
						a
							color black
					i
					color: black
			.hai72
				width: 100%
				height: 100%
				line-height 40px
				float: right
				@media (max-width 768px) {
				display none
				padding-top: -20px
				background: blue
				}
				a
					color: black
				
	#hai2
		#hai12
			
			width 90%
			height 1px 
			text-align center
			background #000
			margin-left 6%
		.mn
			margin-left 0%
		li
			margin-left: 60px;
			font-weight bold
			font-size: 25px
			&:hover
				blackground: black
				color white

	#hai3
		float: left
		.mn51
			font-family 'Playfair Display', serif
			margin-bottom 20%
			margin-right 30%
			a
				&:hover
					text-decoration none

		.mn1
			margin-top: 5%
	#hai1
		padding-top 20px
		height auto
		padding-bottom: 20px
		
		.hai13
			i
				background: red
				color: white
				border solid 1px red
				border-radius 50%
				padding: 15px
			a
				color black
				font-size 20pt
			a:hover
				text-decoration none
		.hai11
			.hai9
				@media (max-width 414px)
					margin-bottom: 10px
					margin-left: -60px
				@media (max-width 375px)
					margin-bottom: 10px
					margin-left: -60px
				
			input
				border solid 2px #f3f3f3
				background #f3f3f3
				margin-top: 20px
				margin-left: 60px
				padding-top: 7px
				padding-bottom: 7px
			button
				padding-top: 7px
				padding-bottom: 7px
				margin-left: -10px
				background #f3f3f3
				border-color: #f3f3f3
				&:hover
					background red 
					color white 
					border-color red
	
#box2
	width 100%
	float left
	margin 0 auto
	.textimg
		margin 0 auto
		float left
		padding 3% 15%
		.textimgbox
			float left
			.imgbox
				float left
				overflow hidden !important
				img
					width 100%
					height 100%
			.textbox
				float left
				text-align center
				height: 325px
				padding-top: 31%
				@media screen and (max-width 1024px)
					height 250px

				@media screen and (max-width 768px)
					height 190px
					font-size 10px
				@media screen and (max-width 480px)
					background gray
					height 296px
					color white
						p
							color #d1d1d1
						button
							color white
							border 2px solid white
							background gray
				h1
					font-size: 30px
					font-family: inherit
					font-weight: 300
				button
					border 2px solid #d1d1d1
					background white
			&:hover
				.imgbox
					img
						transform scale(1.1)
						transition: all 1s
				.textbox
					background gray
					color white
					p
						color #d1d1d1
					button
						color white
						border 2px solid white
						background gray
			@media screen and (max-width 484px)
				margin-top 20px							
	.listsale
		margin 0 auto
		float left
		padding 3% 15%
		.bestsaler
			float left
			border 1px solid gray
			text-align center
			margin-bottom 20px
			a
				text-decoration none
				color black
				font-size 15px
				line-height 30px
			&:hover
				background #d1d1d1
				border 1px solid gray
			i.fa-pen-square
				border-right 1px solid #d1d1d1
				display block
				font-size: 30px
				padding 5% 0.5% 0 0
				@media screen and (max-width 1040px)
					font-size 18px
			a
				@media screen and (max-width 1040px)
					font-size 10px
					line-height 15px
		.bs1
			i.fa-star
				border-right 1px solid #d1d1d1
				display block
				font-size: 20px
				// margin 10%
				padding 5% 0.5% 0 0
				@media screen and (max-width 1040px)
					font-size 18px
			i.fa-image
				border-right 1px solid #d1d1d1
				display block
				font-size: 30px
				// margin 10%
				padding 1.5% 0.5% 0 0
				@media screen and (max-width 1040px)
					font-size 18px
			.right
				display block
				// margin 10%
				padding 6% 0 0 20%
				@media screen and (max-width 1040px)
					display none
			.left
				display block
				// margin 10%
				padding 6% 0 0 20%
				@media screen and (max-width 1040px)
					display none
		.bs11
			@media screen and (max-width 1040px)
				display none
		.s1
			// background green
			padding-right 3%
			text-align center
			@media screen and (max-width 440px)	
				margin-top 20px
			.imgsale
				.sp
					width 100%
					height 316px
					@media screen and (max-width 1040px)
						height 200px
			.textsale
				padding-top 5%
				a
					color gray
					text-decoration none
					margin 0
					&:hover
						color #FF0000
				p
					margin 0
					@media screen and (max-width 1040px)
						font-size 10px
				.p1
					color #FF0000
					margin 0
					display block
					width 100%
					border-bottom 1px solid #d1d1d1
			.butsale
				float left
				margin-top 15px
				@media screen and (max-width 1080px)
						.buttext
							margin-left 20px
						i.fa-shopping-cart
							margin-right 50%
						.butfind
							display none
				@media screen and (max-width 780px)
						.buttext
							margin-left 0px
				@media screen and (max-width 440px)	
						.buttext
							margin-left 31%		
				.buttext
					font-size 12px
					float left
					border-radius 25px
					color: #7d7d7d
					font-family: Montserrat
					font-weight: 700
					text-transform: uppercase
					transition: all 1s
					h6
						display block
						font-size 12px
					i.fa-shopping-cart
						display none
						margin-right 40%;
					&:hover
						background #FF6600
						color black
						h6
							display none
						i.fa-shopping-cart
							width 70px
							height 22px
							margin-left: 0
							display block
				.butfind
					.butfind
						display block
						width: 60px
						border none
						font-size 10px
						padding 0 1% 0 1%
						float left					
		.s2
			// background green
			padding-left 3%
			text-align center
			@media screen and (max-width 440px)	
				display none
				margin-top 20px
			.imgsale
				.sp
					width 100%
					height 316px
					@media screen and (max-width 1040px)
						height 200px
			.textsale
				padding-top 5%
				a
					color gray
					text-decoration none
					margin 0
					&:hover
						color #FF0000
				p
					margin 0
					@media screen and (max-width 1040px)
						font-size 10px
				.p1
					color #FF0000
					margin 0
					display block
					width 100%
					border-bottom 1px solid #d1d1d1
			.butsale
				float left
				margin-top 15px
				@media screen and (max-width 1080px)
						.buttext
							margin-left 20px
						i.fa-shopping-cart
							margin-right 50%
						.butfind
							display none
				@media screen and (max-width 780px)
						.buttext
							margin-left 0px
				@media screen and (max-width 440px)	
						.buttext
							margin-left 31%		
				.buttext
					font-size 12px
					float left
					border-radius 25px
					color: #7d7d7d
					font-family: Montserrat
					font-weight: 700
					text-transform: uppercase
					transition: all 1s
					h6
						display block
						font-size 12px
					i.fa-shopping-cart
						display none
						margin-right 40%
					&:hover
						background #FF6600
						color black
						h6
							display none
						i.fa-shopping-cart
							width 70px
							height 22px
							margin-left: 0
							display block
				.butfind
					.butfind
						display block
						width: 60px
						border none
						font-size 10px
						padding 0 1% 0 1%
						float left									
#box3
	width 100%	
#box4
	width 100%
	height 100%
	padding-bottom 50px
	#box1-tn
		width 100%
		height 100%
		margin 20px 0px
		float left 
		.box-left-tn
			width 100%
			height 335px
			float left			
			.box-img
				width 271px 
				height 300px
				position relative
				img
					width 100%
					height 100%
				.box-img-hover
					width 100%
					height 100%
					position absolute
					top 0
					border 0 solid rgba(244, 161, 66, 0.5)
					transition all 0.3s ease-in-out 0s
					&:hover				
						bottom 0
						box-sizing border-box
						border 18px solid rgba(244, 161, 66, 0.5)
						transition all 0.3s ease-in-out 0s
		.box-right-tn
			width 100%
			height 335px
			float left
			@media (max-width: 1024px)
				display none
			.box-img
				width 360px 
				height 100%
				position relative
				img
					width 100%
					height 100%
				.box-img-hover
					width 100%
					height 100%
					position absolute
					top 0
					border 0 solid rgba(255, 255, 255, 0.5)
					transition all 0.3s ease-in-out 0s
					&:hover				
						bottom 0
						box-sizing border-box
						border 10px solid rgba(255, 255, 255, 0.5)
						transition all 0.3s ease-in-out 0s
			.box-img-1
				width 175px
				height 155px
				position relative
				margin-top 10px
				float left
				img
					width 100%
					height 100%
				.box-img-hover
					width 100%
					height 100%
					position absolute
					top 0
					border 0 solid rgba(255, 255, 255, 0.5)
					transition all 0.3s ease-in-out 0s
					&:hover				
						bottom 0
						box-sizing border-box
						border 10px solid rgba(255, 255, 255, 0.5)
						transition all 0.3s ease-in-out 0s
			.box-img-2
				width 165px
				height 150px
				position relative
				margin-top 10px
				margin-left 20px
				float left
				img
					width 100%
					height 100%
				.box-img-hover
					width 100%
					height 100%
					position absolute
					top 0
					border 0 solid rgba(255, 255, 255, 0.5)
					transition all 0.3s ease-in-out 0s
					&:hover				
						bottom 0
						box-sizing border-box
						border 10px solid rgba(255, 255, 255, 0.5)
						transition all 0.3s ease-in-out 0s
		.box-center-tn
			width 100%
			height 335px
			float left
			.add-single-content
				width 100%
				height 84px
				.content-left
					width 25%
					height 100%
					float left
					.number
						margin-top 10px
						border 3px solid #eeb742
						border-radius 100%
						float left
						height 52px
						padding-top 3px
						margin-right 25px
						text-align center
						width 52px
						span
							background-color #eeb742
							border-radius 50%
							color #fff
							display block
							font-size 15px
							line-height 39px
							margin 0 auto
							
							width 39px
							height 39px
							text-align center
				.content-right
					width 75%
					height 100%
					float left
					h2
						color  #222222
						display block
						font-size 18px
						text-align left
						padding-top 10px
					p 
						color #222
						font-size 12px
	#box2-tn
		width 100%
		height 100%
		float left
		.products-head
			width 100%
			height 60px
			margin-bottom 20px
			@media (max-width: 768px)
				display none
			i.fa-image
				width 8%
				height 100%
				line-height 58px
				text-align center
				font-size 26px			
				background #f4f4f4
				border-bottom 1px solid #e5e5e5
				border-top 1px solid #e5e5e5
				border-right 1px solid #e5e5e5
			h2
				font-size 24px
				line-height 58px
				border-left 1px solid #e5e5e5			
				border 1px solid #e5e5e5
				width 30%
				height 100%
				text-align center
				font-weight 400
				background #f4f4f4
			i.fa-angle-left
				border-bottom 1px solid #e5e5e5
				border-top 1px solid #e5e5e5
				width 57%
				height 100%
				line-height 58px
				text-align right
				padding-right 20px
				font-size 26px
				background #fff
				padding 0px 20px
			i.fa-angle-right
				width 5%
				height 100%
				line-height 58px
				text-align center
				font-size 26px
				background #fff
				padding 0px 20px
				border 1px solid #e5e5e5
		.product-item
			.box 
				
				width 100%
				height 210px
				margin-bottom 20px
				float left
				.left
					width 50%
					height 100%
					float left
					overflow hidden !important
					img
						width 100%
						height 100%
						transition ease-in-out .5s
						&:hover
							transform scale(1.1)
							transition ease-in-out .5s
				.right
					width 49%
					margin-left 1%
					height 100%
					float left
					border 1px solid #e5e5e5
					.box1 
						width 100%
						height 90px
						border-bottom 1px solid #e5e5e5
						float left
						h6
							width 100%
							padding-top 20px 
							text-align center
							color #222
							&:hover
								color #ed4f50
								transition ease-in-out .5s
						span
							width 100%
							display block
							text-align center
							color #ed4f50
							font-weight 700
							font-size 22px
					.box2 
						width 50%
						height 60px
						border-bottom 1px solid #e5e5e5
						float left
						&:hover
							a
								color #2dc997
								transition ease 0.5s
						a 
							text-decoration none
							color #222
							i
								width 100%
								display block
								text-align center
								line-height 60px
					.box3
						width 50%
						height 60px
						border-left 1px solid #e5e5e5
						border-bottom 1px solid #e5e5e5
						float left
						&:hover
							a
								color #2dc997
								transition ease 0.5s
						a 
							text-decoration none
							color #222
							i
								width 100%
								display block
								text-align center
								line-height 60px
					.box4
						width 50%
						height 60px				
						float left
						&:hover
							a
								color #2dc997
								transition ease 0.5s
						a 
							text-decoration none
							color #222
							i
								width 100%
								display block
								text-align center
								line-height 60px
					.box5
						width 50%
						height 60px
						border-left 1px solid #e5e5e5
						float left
						&:hover
							a
								color #2dc997
								transition ease 0.5s
						a 
							text-decoration none
							color #222
							i
								width 100%
								display block
								text-align center
								line-height 60px

#box4
	width 100%

#box5
	margin-top 1%
	width 100%		
	float left
	height 600px
	#n1 
		@media (max-width: 780px)
				height 120px
		height 200px
		float left
		background white
		margin-bottom 30px
		
		#n3 
			margin-top 2%
			padding-top 20px
			height 80px
			float right
			background white
			text-transform uppercase
			border-bottom: 1px solid #e5e5e5
			@media (max-width: 780px)
				padding 0 
				text-align center
				width 100%
				padding-left 36%
			.owt-button
						float right
						padding-bottom 50px
						.fas
							padding 9%
							background gray
							color white
						@media (max-width: 780px)
							display none						
			h3  
				float left
				width 50%
				padding-top 8px
				font-size: 18px
				color gray												
		#n4 
			height 120px
			float left
			background white
			margin-left 5%
			margin-top 2%							
			.nghiaul
					li 
						float left
						list-style none
						width 25%
						@media (max-width: 780px)
							img
								width 100%								
					
	#n2 
		height auto
		float left
		background #ced4dd
		@media (max-width: 780px)
				margin-top 0%
		.nghia 
			background rgb(206, 212, 221)
			height auto
			.nghia1
				// background grey 
				height auto
				.nghia1-1
					// background pink 
					height auto
					border-right 2px solid white
					.nghia2-1
						// background gold
						height auto
						margin-top 7%
						margin-bottom 5%
					.nghia2-2
						// background grey
						height auto
					h5
						text-transform uppercase
					
					.nghia2-3
						height 40px
						// background yellow
						margin-top 15px
						.card
							width 20%
							height 40px
							// background red
							float left
				.nghia3
					height auto 
					// background red			
					.nghia3-1
						// background pink
						height 120px
						margin-top 10px
						border-bottom 2px solid white
						h5
							padding-top 2%
							text-transform uppercase
						
						.form-group
							.form-control
								text-align center
								width 70%
								float left 
							
						
					.nghia3-2
						// background pink
						height auto
						#link
							height auto 
							// background yellow
							margin-top 2%
							h5
								text-transform uppercase
								font-size 14px
							.nav-link
								// background pink
								width 70%
								font-size 15px
								color black
			.nghia4
				height 30px 
				background black
				p 
					line-height 30px
					color white
					padding-left 7%
			.nav-link:hover
				border-bottom 2px solid gold
				text-align center
			.btn:hover
				background gold
				color black
			
			.vung4
				height 40px
				background white
				.v4-1
					height 40px
					// background green
					i 
						line-height 40px
						color black
						margin-right 10px
						float left
						p 
							font-size 12px
							float right
							padding-left 2px
				
				.v4-2
					height 40px
					// background red
				
				.v4-3
					// background gold
					.fa-google-plus-g
						line-height 40px
						margin-left 5px
					.fa-youtube-square
						line-height 40px
						margin-left 5px
				.fa-google-plus-g:hover
					color red
				.fa-youtube-square:hover
					color red

