body
	padding 0
	margin 0

#box1
	width 100%
#box2
	width 100%
	
#box3
	width 100%
#box4
	width 100%
#box5
	margin-top 1%
	width 100%
	float left
	height 600px
	#n1 
		@media (max-width: 780px)
				height 120px
		height 200px
		float left
		background white
		margin-bottom 30px
		
		#n3 
			margin-top 2%
			padding-top 20px
			height 80px
			float right
			background white
			text-transform uppercase
			border-bottom: 1px solid #e5e5e5
			@media (max-width: 780px)
				padding 0 
				text-align center
				width 100%
				padding-left 36%
			.owt-button
						float right
						padding-bottom 50px
						.fas
							padding 9%
							background gray
							color white
						@media (max-width: 780px)
							display none						
			h3  
				float left
				width 50%
				padding-top 8px
				font-size: 18px
				color gray												
		#n4 
			height 120px
			float left
			background white
			margin-left 5%
			margin-top 2%							
			.nghiaul
					li 
						float left
						list-style none
						width 25%
						@media (max-width: 780px)
							img
								width 100%								
					
	#n2 
		height auto
		float left
		background #ced4dd
		@media (max-width: 780px)
				margin-top 0%
		.nghia 
			background rgb(206, 212, 221)
			height auto
			.nghia1
				// background grey 
				height auto
				.nghia1-1
					// background pink 
					height auto
					border-right 2px solid white
					.nghia2-1
						// background gold
						height auto
						margin-top 7%
						margin-bottom 5%
					.nghia2-2
						// background grey
						height auto
					h5
						text-transform uppercase
					
					.nghia2-3
						height 40px
						// background yellow
						margin-top 15px
						.card
							width 20%
							height 40px
							// background red
							float left
				.nghia3
					height auto 
					// background red			
					.nghia3-1
						// background pink
						height 120px
						margin-top 10px
						border-bottom 2px solid white
						h5
							padding-top 2%
							text-transform uppercase
						
						.form-group
							.form-control
								text-align center
								width 70%
								float left 
							
						
					.nghia3-2
						// background pink
						height auto
						#link
							height auto 
							// background yellow
							margin-top 2%
							h5
								text-transform uppercase
								font-size 14px
							.nav-link
								// background pink
								width 70%
								font-size 15px
								color black
			.nghia4
				height 30px 
				background black
				p 
					line-height 30px
					color white
					padding-left 7%
			.nav-link:hover
				border-bottom 2px solid gold
				text-align center
			.btn:hover
				background gold
				color black
			
			.vung4
				height 40px
				background white
				.v4-1
					height 40px
					// background green
					i 
						line-height 40px
						color black
						margin-right 10px
						float left
						p 
							font-size 12px
							float right
							padding-left 2px
				
				.v4-2
					height 40px
					// background red
				
				.v4-3
					// background gold
					.fa-google-plus-g
						line-height 40px
						margin-left 5px
					.fa-youtube-square
						line-height 40px
						margin-left 5px
				.fa-google-plus-g:hover
					color red
				.fa-youtube-square:hover
					color red
		